/* chat.scss */
.chat-container {
    background-color: rgb(24, 0, 113, 0.4);
    height: 300px;

    width: 1024px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    z-index: 0;
    justify-content: center;
    overflow-x: hidden;
}

.chat-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 3px solid #180071;
}

/* 채팅 컨테이너 */
.chat-section {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px; /* 채팅 간 간격 추가 */
}

/* 채팅 박스 */
.speech {
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
    word-break: break-word;
    font-size: 12px;
}

.my-message .username {
    color: #f8f9f9; /* 내 메시지일 때만 사용자 이름을 파란색으로 */
}
.my-message .chat-box {
    background-color: #5ba3f8; /* 내 메시지일 때만 배경색 변경 */
    color: #f8f9f9;
}

.username {
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: 1px; /* 메시지와 간격 */
}

.chat-box {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    max-width: 100%;
}
.notice {
    align-self: center;
    font-size: 11.5px;
    background-color: #1025a1;
    padding: 8px 12px;
    border-radius: 15px;
    margin-bottom: 10px;
    text-align: center;
    color: #f8f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.waiting-chat {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.waiting-chat input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    outline: none;
}

.waiting-chat button {
    padding: 10px 20px;
    border: none;
    background-color: #180071;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.waiting-chat button:active {
    background-color: aliceblue;
}
@media (max-width: 600px) {
    .chat-container {
        width: 90%;
        justify-content: center;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .chat-container {
        width: 100%;
        min-width: 500px; // 이 값은 조정 가능
        margin: 0 auto;
        justify-content: center;
    }
}
