.GameStats {
    position: absolute;
    width: 22vw;
    list-style-type: none;
    color: rgba(255, 255, 255, 0.5);
}

.GameStats__me {
    left: 18em;
    top: 55vh;
    text-align: left;
}

.GameStats__other {
    right: 11em;
    top: 55vh;
    text-align: left;
}

.GameStats .value {
    font-size: 2.8rem;
    margin-bottom: 0.5em;
    color: rgba(255, 255, 255, 1);
}
