.GameStats {
    position: absolute;
    width: 22vw;
    top: 58vh;
    list-style-type: none;
    color: black;
}

.GameStats__me {
    left: 28%;

    text-align: left;
}

.GameStats__other {
    right: 12%;
    color: red;
    text-align: left;
}

.GameStats .value {
    font-size: 2.8vw;
    margin-bottom: 0.5%;
    color: black;
}
@media (max-width: 1024px) {
    .GameStats {
        top: 50vh;
        left: auto; /* 왼쪽 위치 초기화 */
        right: 16.7%; /* 오른쪽 위치 설정 */
        transform: translateX(-5%);
    }
    .GameStats .value {
        font-size: 2vw !important;
        margin-bottom: 0.5%;
        color: black;
    }
}
