.GameStats {
    position: absolute;
    width: 22vw;
    list-style-type: none;
    color: black;
}

.GameStats__me {
    left: 28em;
    top: 55vh;
    text-align: left;
}

.GameStats__other {
    right: 12em;
    top: 55vh;
    text-align: left;
}

.GameStats .value {
    font-size: 2.8rem;
    margin-bottom: 0.5em;
    color: black;
}
