<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            h2 {
                text-align: center;
            }
        </style>
        <title>tetrist 관리자 페이지</title>
    </head>
    <%- include('header')%>
    <body>
        <h2>관리자 페이지</h2>
    </body>
</html>
