<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<a href="/api-server/admin/adminUser">유저 관리 페이지로 이동</a>
<a href="/api-server/admin/adminRoom">게임룸 관리 페이지로 이동</a>
<a href="/api-server/admin/logout">로그아웃</a>
