<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 40px;
        margin: 0 auto;
    }
    .link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    a {
        color: inherit;
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: bold;
        margin: 0 5px;
    }
    a:hover {
        color: #078f4b;
    }

    a:active {
        color: #078f4b;
    }
</style>
<header>
    <div class="link">
        <a href="/api-server/admin/adminPage">[홈]</a>
        <a href="/api-server/admin/adminUser">[유저 관리 페이지]</a>
        <a href="/api-server/admin/adminRoom">[게임룸 관리 페이지]</a>
        <a href="/api-server/admin/adminSuggestion">[유저 건의 사항]</a>
    </div>
    <div class="logout">
        <a href="/api-server/admin/logout">[로그아웃]</a>
    </div>
</header>
