@import url("https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css");

@font-face {
    font-family: "Galmuri9";
    src: url("https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DNFBitBitv2";
    font-style: normal;
    font-weight: 400;
    src: url("//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf")
        format("opentype");
}

/* 전역 폰트 설정 */
body,
button,
input,
textarea {
    font-family: Galmuri9, sans-serif;
}
