// @font-face {
//     font-family: "DungGeunMo";
//     src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
//         format("woff");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: "DNFBitBitv2";
//     font-style: normal;
//     font-weight: 400;
//     src: url("//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf")
//         format("opentype");
// }

// body {
//     font-family: "DungGeunMo", sans-serif;
//     .waiting-room {
//         .ListTitle {
//             // 방 목록
//             .roomListTitle {
//                 font-family: "DNFBitBitv2";
//             }
//         }
//     }
// }

/* 폰트 설정(원래 폰트) */
// @font-face {
//     font-family: "DungGeunMo";
//     src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
//         format("woff");
//     font-weight: normal;
//     font-style: normal;
// }

// 입장 버튼 같이 글씨체가 작은 경우 글씨가 깨지는 현상이 발생해 글씨체를 바꿔봤음
@font-face {
    font-family: "Galmuri9";
    src: url("https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");
    // format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DNFBitBitv2";
    font-style: normal;
    font-weight: 400;
    src: url("//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf")
        format("opentype");
}

/* 전역 폰트 설정 */
body,
button,
input,
textarea {
    // font-family: "DungGeunMo", sans-serif;
    font-family: "Galmuri9", sans-serif;
}

/* 특정 요소에 폰트 적용 */
// 가독성이 떨어지는 것 같아 주석처리 했음.
// .waiting-room .ListTitle .roomListTitle {
//     font-family: "DNFBitBitv2";
// }
