//마이페이지
.mypage-container {
    // background: #ecf0f1;
    border-radius: 10px;
    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 20px;
    width: 80%;
    max-width: 350px;
    display: flex;

    flex-direction: column;
}

.mypage-title {
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* user-info에 대한 스타일 조정 */
.user-info {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    border-top: 2px solid #333;
    padding-top: 20px;
}

/* user-details 내의 요소들을 적절하게 배치 */
.user-details {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* 요소들을 오른쪽 정렬 */
    flex-grow: 1;
    width: 100%;
}

/* user-avatar의 크기와 배치 */
.user-avatar {
    width: 50px; /* 아바타 이미지 너비 */
    height: 50px; /* 아바타 이미지 높이 */
    border-radius: 50%; /* 둥근 모서리 */
    margin-right: 270px;
    position: absolute;
}

.username {
    font-size: 1.5rem;
    width: 150px; /* 고정된 너비를 설정 */
    flex-shrink: 0; /* 너비가 줄어들지 않도록 */
    border-radius: 5px;
    white-space: nowrap; /* 닉네임이 길어지지 않도록 고정 */
    margin-right: 10px;
}
.edit-button {
    padding: 5px 10px; /* 버튼의 내부 패딩 */
    font-size: 0.7rem; /* 버튼의 폰트 사이즈 */
    flex-shrink: 0; /* 크기가 변경되지 않도록 */
    border: none; /* 기본 테두리 제거 */
    background: #3498db; /* 버튼 배경 색상 */
    color: white; /* 버튼 글자 색상 */
    cursor: pointer; /* 클릭 가능한 요소임을 나타냄 */
    border-radius: 5px; /* 버튼의 모서리를 둥글게 */
    transition: background 0.3s; /* 배경 색상의 전환 효과 */
    white-space: nowrap; /* 텍스트를 한 줄로 표시 */
}
.edit-button:hover {
    background: #2980b9; /* 호버 상태에서의 배경 색상 */
}

.user-status {
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px black solid;
}

.status-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.status-comment {
    font-size: 0.9rem;
    color: #7f8c8d;
}

.action-button {
    padding: 5px 10px;
    font-size: 0.7rem;
    margin: 5px;

    background: #3498db;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.action-button:hover {
    background-color: #2980b9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.user-actions {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    padding: 20px; /* 컨테이너 내부의 상하 패딩 */
}
